#badi{

	background-color: pink;
}


.Title {
    
	width: 300px;
   
 	margin: auto;

}

#Head {
    
text-align: center;
   
   
 text-shadow: grey;
   
 margin-top: 15%;
    
margin-bottom: -5%;

}

#ts{
margin-left: 38%;

}

#ts2{

margin-left: 35%;

}

#ts3{

text-align: center;

}

#ts4{

margin-left: 38%;

}



#arb {
    margin: auto;
    width: 15%;
    margin-left: 43%;
    margin-top: 2%;
}

#PI{
	margin-right: : 43%;
	font-size: 32px;
	text-decoration: underline;
	
}

.t1 {
margin-top: 2%;
margin-left: 40%;
 margin-right: 5%;

font-size: 22px;
}

.sk {  
    
margin-left: 33%;
   
 margin-right: 10%;
  
  margin-top: 3%;

}

#skills{
margin-left: 25%;
text-decoration: underline;
font-size: 35px;
}

#dakoa{
font-size: 25px;

}

#schl1{
margin-left: 33%;
font-size: 25px;
}

#schol1{
margin-left: 33%;
font-size: 25px;
}

#school1{
margin-left: 33%;
font-size: 25px;
}



#schl2{
margin-left: 34%;
font-size: 25px;
}

#schol2{
margin-left: 33%;
font-size: 25px;
}

#school2{
margin-left: 33%;
font-size: 25px;
}


#schl3{
margin-left: 35%;
font-size: 25px;

}

#schol3{
margin-left: 33%;
font-size: 25px;


}

#school3{
margin-left: 33%;
font-size: 25px;

}

#EBG {
margin-left: 40%;
text-decoration: underline;
font-size: 33px;
margin-top: 3%
}
